</br>
</br>
</br>
</br>

<article class="panel is-warning">
  <p class="panel-heading">
    篩選項目
  </p>

  <label class="panel-block">
  <p>預算區間:</p>
  </label>  

  <%= form_tag( "/search_stores" , method: "get") do %>
    <label class="panel-block">
    <%= number_field_tag 'filter_price_from_keyword', @filter_kw_price_from_temp, min: 1, max: 1000, step: 1 %>
    &nbsp;~&nbsp;
    <%= number_field_tag 'filter_price_to_keyword',   @filter_kw_price_to_temp, min: 1, max: 1000, step: 1 %>
    </label>

    <%= text_field_tag :geo_keyword, @geo_kw_temp, class:"input is-hidden" %>  
    <%= text_field_tag :feat_keyword, @feat_kw_temp, class:"input is-hidden" %> 
    <%= text_field_tag :order_keyword, @order_kw_temp, class:"input is-hidden" %> 

    <div class="panel-block">
    <%= submit_tag "重新篩選結果", class:"button is-outlined is-fullwidth" %>
    </div>
  <% end %>
</article>