<p>排序方式：</p>
</br>
<div class="tabs is-boxed">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fas" aria-hidden="true"></i></span>
        <span>評價分數</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas" aria-hidden="true"></i></span>
        <span>評價數目</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="far" aria-hidden="true"></i></span>
        <span>開幕日期</span>
      </a>
    </li>
  </ul>
</div>

<div class="result-list-div">
<p>&nbsp;列出<%=@stores.count%>項結果</p>
<% @stores.each do |store|%>
    </br>
    <div class="card">
        <header class="card-header">

        <div class="card-title-dash">
        <span class="card-header-title">
        <p class="title is-4"><%=store.title%></p>
        <p class="title is-6">&nbsp;特色:&nbsp;<%=store.feature %></p>
        </span>
        </div>

        </header>
        <div class="card-content">
            <div class="media">
            <div class="media-left">
                <%= avatar(store.user, size:80)%>
            </div>
            <div class="media-content">
              <p class="subtitle is-6">地址:&nbsp;<%=store.address %></p>
              <p class="subtitle is-6">預算:&nbsp;<%=store.budget %></p>
              <p>簡介:<%=store.intro %></p>
            </div>
              
            </div>
        </div>
    </div>
    <div class="ribbon-table-line"></div>    
<% end %>
</div>