<p>排序方式：</p>
</br>
<div class="tabs is-boxed">
  <ul>
    <% if @order_kw_temp == "avg_score" %>
      <li class="is-active">
    <% else %>
      <li class="">
    <% end %>
        <span>
        <%= link_to "評價分數", search_stores_path(geo_keyword:@geo_kw_temp, feat_keyword:@feat_kw_temp,
                                                  order_keyword:"avg_score", filter_price_from_keyword:@filter_kw_price_from_temp,
                                                  filter_price_to_keyword:@filter_kw_price_to_temp ) %>
        </span>
    </li>

    <% if @order_kw_temp == "comments_count" %>  
      <li class="is-active">
    <% else %>
      <li class="">
    <% end %>
        <span>
        <%= link_to "評論數目", search_stores_path(geo_keyword:@geo_kw_temp, feat_keyword:@feat_kw_temp,
                                                  order_keyword:"comments_count", filter_price_from_keyword:@filter_kw_price_from_temp,
                                                  filter_price_to_keyword:@filter_kw_price_to_temp ) %>        
        </span>
    </li>

    <% if @order_kw_temp == "updated_at" %> 
      <li class="is-active">
    <% else %>
      <li class="">
    <% end %>
        <span>
        <%= link_to "更新日期", search_stores_path(geo_keyword:@geo_kw_temp, feat_keyword:@feat_kw_temp,
                                                  order_keyword:"updated_at", filter_price_from_keyword:@filter_kw_price_from_temp,
                                                  filter_price_to_keyword:@filter_kw_price_to_temp ) %>          
        </span>
    </li>

  </ul>
</div>

<div class="result-list-div">
<p>&nbsp;列出&nbsp;<%=@stores.count%>&nbsp;項結果</p>
<% @stores.each do |store|%>
    </br>
    <%= link_to store_path(store.id) do %>
    <div class="card">
        <header class="card-header">
          <div class="card-title-dash">
            <span class="card-header-title">
                <div class="media-content">    
                <p class="title is-4"><%= link_to store.title, store_path(store.id) %></p>
                <p class="subtitle is-6"><%=store.feature %></p>
                <p></p>
                </div>
            </span>
          </div>
        </header>

        <div class="card-content">
            <div class="media">
            <div class="media-left">
                <div class="search_list_avater">
                  <%= avatar(store.user, size:150)%>
                </div>
            </div>

            <div class="media-content">

              <div class="star-ratings-css">
              <div class="star-ratings-css-top" style="width:<%= store.avg_score*20.0 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              </div>

              <p class="is-6">評分:&nbsp; <%= format("%.2f",store.avg_score) %>&nbsp;[<%=store.comments_count %>則評價]</p>
              <p class="is-6">預算:&nbsp;約 NT$<%=store.budget %></p>
              </br>
              <p class="is-6">地址:&nbsp;<%= store.city %><%= store.district %><%= store.address %></p>
            </div>
              
            </div>
        </div>
    </div>
    <% end %>
    <div class="ribbon-table-line"></div>    
<% end %>
</div>