<p>排序方式：</p>
</br>
<div class="tabs is-boxed">
  <ul>
    <% if @order_kw_temp == "avg_score" %>
      <li class="is-active">
    <% else %>
      <li class="">
    <% end %>
        <span>
        <%= link_to "評價分數", search_stores_path(geo_keyword:@geo_kw_temp, feat_keyword:@feat_kw_temp,
                                                  order_keyword:"avg_score", filter_price_from_keyword:@filter_kw_price_from_temp,
                                                  filter_price_to_keyword:@filter_kw_price_to_temp ) %>
        </span>
    </li>

    <% if @order_kw_temp == "comments_count" %>  
      <li class="is-active">
    <% else %>
      <li class="">
    <% end %>
        <span>
        <%= link_to "評論數目", search_stores_path(geo_keyword:@geo_kw_temp, feat_keyword:@feat_kw_temp,
                                                  order_keyword:"comments_count", filter_price_from_keyword:@filter_kw_price_from_temp,
                                                  filter_price_to_keyword:@filter_kw_price_to_temp ) %>        
        </span>
    </li>

    <% if @order_kw_temp == "updated_at" %> 
      <li class="is-active">
    <% else %>
      <li class="">
    <% end %>
        <span>
        <%= link_to "更新日期", search_stores_path(geo_keyword:@geo_kw_temp, feat_keyword:@feat_kw_temp,
                                                  order_keyword:"updated_at", filter_price_from_keyword:@filter_kw_price_from_temp,
                                                  filter_price_to_keyword:@filter_kw_price_to_temp ) %>          
        </span>
    </li>

  </ul>
</div>

<div class="result-list-div">
<p>&nbsp;列出&nbsp;<%=@stores.count%>&nbsp;項結果</p>
<% @stores.each do |store|%>
    </br>
    <%= link_to store_path(store.id) do %>
    <div class="card">
        <header class="card-header">

        <div class="card-title-dash">
        <span class="card-header-title">
        <p class="title is-4"><%=store.title%></p>
        <p class="title is-6">&nbsp;特色:&nbsp;<%=store.feature %></p>
        </span>
        </div>

        </header>
        <div class="card-content">
            <div class="media">
            <div class="media-left">
                <%= avatar(store.user, size:80)%>
            </div>
            <div class="media-content">
              <p class="subtitle is-6">地址:&nbsp;<%= store.city %><%= store.district %><%= store.address %></p>
              <p class="subtitle is-6">平均分數:&nbsp;<%=store.avg_score %></p>
              <p class="subtitle is-6">被評論數:&nbsp;<%=store.comments_count %></p>
              <p class="subtitle is-6">預算:&nbsp;<%=store.budget %></p>
              <p>簡介:<%=store.intro %></p>
            </div>
              
            </div>
        </div>
    </div>
    <% end %>
    <div class="ribbon-table-line"></div>    
<% end %>
</div>