<h2 class="title" >編輯&nbsp;<%= current_user.store.title%>&nbsp;的菜單內容</h2>

</br> 

<%= form_for( @store, url: "/stores/#{current_user.store.id}/menus", method: "put") do |f| %>
    <%= text_field_tag :menus_status, @menus_status, class:"input is-hidden" %>

    <div class="field columns is-vcentered"> 
        <div class="control column">
            <span class="tag is-large is-warning">
            <h6 class="subtitle is-5">品項</h6>
            </span>
        </div>

        <div class="control column">
            <span class="tag is-large is-warning">
            <h6 class="subtitle is-5">價格</h6>
            </span>
        </div>

        <div class="control column">
        </div>      
    </div>

    
    <div id='menus'>
        <%= f.fields_for :menus do |menu| %>
            <%= render 'menu_fields', f: menu %>
        <% end %>     
        <div class='links'>
            <p>
            </br>
            <%= link_to_add_association "新增一組條目 「料理-價格」", f, :menus %> 
            </p>
        </div>
    </div>

    </br>
    <%= link_to "取消", :back , class:"button is-light" %>
    <%= f.submit "提交資料", class:"button is-warning" %>

    

    
<% end %>

