<h2 class="title" >編輯個人資料</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, "使用者名稱", class:"label" %>
    <div class="control">
      <%= f.text_field :username, class:"input" %>
    </div>
    <p class="help" >範例:@larry</p>
  </div>

  <br>
  <div class="field">
    <%= f.label :avatar, "大頭照", class:"label" %>
    <div class="control">
      <%= f.file_field :avatar %>
    </div>

    <%= avatar(current_user) %>
 
  </div>
  <br>

  <div class="field">
    <%= f.label :email, "帳號(E-mail)", class:"label" %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>

  <div class="field">
    <%= f.label :password, "密碼", class:"label" %>
    <div class="control">
    <%= f.password_field :password, autocomplete: "new-password", class:"input" %>
      <% if @minimum_password_length %>
        <p class="help" >(若不變更，請保持空白；密碼長度至少六個字元)</p>
      <% end %>
    </div>  
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "再次輸入新密碼", class:"label" %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :current_password, "密碼確認", class:"label" %> 
    <div class="control">  
      <%= f.password_field :current_password, autocomplete: "current-password", class:"input" %>
    </div>
    <p class="help" >(輸入密碼以便確認資料更改)</p>
  </div>

  <div class="actions">
  <div class="control">
    <%= f.submit "更新資料", class:"button is-light" %>
  </div>  
  </div>
<% end %>

<%= link_to "回到首頁", :back , class:"button is-warning" %>
