
<% if !user_session["form_error_message"].nil? %>
    <article class="message is-warning">
    <div class="message-body">
        <%= user_session["form_error_message"] %>
    </div>
    </article>
<% end %>

<%= form_for(store, url: url, method: method) do |form| %>
    </br>
    <span class="tag is-large is-warning">
    <h6 class="title is-6">基本資料</h6>
    </span>
    <div class="ribbon-table-line">
    </div>
    </br>

    <div class="field">
        <%= form.label :title, "店名*", class: "label" %>
        <div class="control">
            <%= form.text_field :title, class: "input" %>
        </div>
    </div>
    <div class="field">
        <%= form.label :city, "區域縣市*", class: "label" %>
        <div class="select">	
            <select id="store_city" type="text" name="store[city]" ></select>
        </div>
    </div>
    <div class="field">
        <%= form.label :district, "行政區*", class: "label" %>
        <div class="select">	
            <select id="store_district" type="text" name="store[district]" ></select>
        </div>
    </div>
    <div class="field">
        <%= form.label :address, "詳細地址*", class: "label" %>
        <div class="control columns is-gapless">
            <% if store.district.present? then address_patch = store.city+store.district else address_patch = "" end %>
            <%= text_field_tag("",  address_patch,{id:"address_patch", class:"input column is-one-quarter address_patch", readonly: true}) %>       
            <%= form.text_field :address, class: "input column", id:"store_address" %>          
        </div>
        
        <label class="label">輸入地址與地圖對照</label>
        <div class="control columns is-gapless">
            <div id="address_info_box">
                <div id="address_info_gmap">
                </div>
            </div>
        </div>    

    </div>
    <div class="field">
        <%= form.label :tel, "電話*", class: "label" %>
        <div class="control">
            <%= form.text_field :tel, class: "input" %>
        </div>
    </div>

    </br>
    <span class="tag is-large is-warning">
    <h6 class="title is-6">營業時間相關</h6>    
    </span>
    <div class="ribbon-table-line">
    </div>
    </br>

    <div class="field">
        <%= form.label :opening_hours, "營業時間*", class: "label" %>
        <div class="control">
            <%= form.text_field :opening_hours, class: "input" %>
        </div>
    </div>
    <div class="field">
        <%= form.label :closed_day, "公休日*", class: "label" %>
        <div class="control">
            <%= form.text_field :closed_day, class: "input" %>
        </div>
    </div>
    <div class="field">
        <%= form.label :budget, "用餐預算/每人*", class: "label" %>
        <div class="control">
            <%= form.number_field :budget, class: "input", min: 1, max: 1000, step: 1 %>
        </div>
    </div>

    </br>
    <span class="tag is-large is-warning">
    <h6 class="title is-6">餐廳特色相關</h6> 
    </span>
    <div class="ribbon-table-line">
    </div>
    </br>

    <div class="field">
        <%= form.label :feature, "主打賣點*", class: "label" %>
        <div class="control">
            <%= form.text_field :feature, class: "input" %>
        </div>
    </div>
    <div class="field">
        <%= form.label :promote, "宣傳口號", class: "label" %>
        <div class="control">
            <%= form.text_area :promote, class: "textarea" %>
        </div>
    </div>
    <div class="field">
        <%= form.label :intro, "介紹簡介", class: "label" %>
        <div class="control">
            <%= form.text_area :intro, class: "textarea" %>
        </div>
    </div>
    <div class="field">
        <%= form.label :memo, "備註", class: "label" %>
        <div class="control">
            <%= form.text_area :memo, class: "textarea" %>
        </div>
    </div>

    <div class="field">
        <%= form.submit "提交資料", class: "button is-warning "%>
    </div>

<% end %>


<script>

$(function(){

    //地址縣市行政區輸入連動相關
    def_city_str       = "<%= store.city %>";
    def_district_str   = "<%= store.district %>";
    AddressSeleclList.Initialize("store_city", "store_district", "請選擇城市", "", "請選擇鄉鎮區", "");
    
    if ( def_city_str != "" && def_district_str != "") {
    let element = document.getElementById("store_city");
    $('#store_city').val(def_city_str);
    if ('fireEvent' in element)
        element.fireEvent("onchange");
    else {
        let evt = document.createEvent("HTMLEvents");
        evt.initEvent("change", false, true);
        element.dispatchEvent(evt);
    }
    $('#store_district').val(def_district_str);
    }

    $("#store_city, #store_district").change(function(){
        let city_str     = $("#store_city").val();
        let district_str = $("#store_district").val();
        $("#address_patch").val(city_str+district_str);
    });


    // 地圖地址確認小視窗功能相關
    $("#store_address").on( "input propertychange", function(){

        //  method:GET => new ,  method:PUT => edit  
        let method = "<%= method %>";
        if ( method == "PUT" ) {
            var full_address = $("#store_city").val()+$("#store_district").val()+$("#store_address").val();
            var store_id     = "<%= store.id %>";

        }else if ( method == "POST" ) {
            var full_address = $("#store_city").val()+$("#store_district").val()+$("#store_address").val();
            var store_id     = "1";
        }

        let map_info_url = "/stores/"+store_id+"/store_sub_pages/show_gmap?full_address="+full_address;

        fetch(map_info_url)   
        .then(response => response.text())
        .then(html => {        
            document.getElementById("address_info_gmap").innerHTML = html          
            let mapLat = document.getElementById("mapLat").innerHTML
            let mapLng = document.getElementById("mapLng").innerHTML
            initMap(mapLat , mapLng )
            
            function initMap(lat, lng) {   
              var myCoords = new google.maps.LatLng(lat, lng);
              var mapOptions = {
              center: myCoords,
              zoom: 14
              }; 
              var map = new google.maps.Map(document.getElementById('map'), mapOptions);
              var marker = new google.maps.Marker({
              position: myCoords,
              map: map
              });
            }
        });    
    }); 

    $("#store_address").trigger("propertychange");
  
});

</script>