<h2 class="title" >店家資料主頁</h2>

<div class="card">
  <div class="card-image">
      <%= image_tag("ramen_bar.png") %>  
  </div>

  <div class="ribbon-table-line"></div>  

  <div class="card-content">

    <div class="media">
      <div class="media-left">
        <figure class="image">
          <%= avatar(current_user,size:90) %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">
        <%= @store.title %>
        </p>
        <p class="subtitle is-6">
        <%= @store.address %>
        </p>
      </div>
    </div>

    <div class="content">
    <%= @store.promote %>
    </br>
    特色:  <%= @store.feature %>
    </div>
  </div>
</div>

<div class="ribbon-table-line"></div>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
    簡介:
    </br>
    <%= @store.intro %>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
    <p class="title is-6">
    其他資料:
    </p>
    </br>
    營業時間:<%= @store.opening_hours %>
    </br>
    公休日:<%= @store.closed_day %>
    </br>
    預算:<%= @store.budget %> 
    </br>
    備註:<%= @store.memo %> 
    </br> 
    </div>
  </div>

  <div data-controller = "substore-content-loader"
      data-substore-content-loader-map-url      ="/show_gmap?address=<%= @store.address %>"
      data-substore-content-loader-comments-url ="/comments/store_list/<%= @store.id %>"
      data-substore-content-loader-menu-url ="/show_menu/<%= @store.id %>"
      data-substore-content-loader-album-url ="/show_album" >

    <footer class="card-footer">
      <a data-action="click->substore-content-loader#showComments" id="comments_trigger" class="card-footer-item">評價</a>
      <a data-action="click->substore-content-loader#showMenu" id="menu_trigger" class="card-footer-item">菜單</a>
      <a data-action="click->substore-content-loader#showAlbum" id="album_trigger" class="card-footer-item">相簿</a>
      <a data-action="click->substore-content-loader#showMap" id="gmap_trigger" class="card-footer-item">地圖</a>
    </footer>
    <div class="ribbon-bar">
    </div>

    <div id="output">
    </div>  

  </div>

</div>

<div id="mapLat" style="display:none" ><%= @latitude  %></div>
<div id="mapLng" style="display:none" ><%= @longitude %></div>






