<h2 class="title" >店家資料主頁</h2>

<div class="card">
  <div class="card-image">
      <%= image_tag("ramen_bar.png") %>  
  </div>

  <div class="ribbon-table-line"></div>  

  <div class="card-content">

    <div class="media">
      <div class="media-left">
        <figure class="image">
          <%= avatar(current_user,size:90) %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">
        <%= @store.title %>
        </p>
        <p class="subtitle is-6">
        <%= @store.avg_score %>
        </p>
        <p class="subtitle is-6">
        <%= @store.city %><%= @store.district %><%= @store.address %>
        </p>
      </div>
    </div>

    <div class="content">
    <%= @store.promote %>
    </br>
    特色:  <%= @store.feature %>
    </div>
  </div>
</div>

<div class="ribbon-table-line"></div>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
    簡介:
    </br>
    <%= @store.intro %>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
    <p class="title is-6">
    其他資料:
    </p>
    </br>
    營業時間:<%= @store.opening_hours %>
    </br>
    公休日:<%= @store.closed_day %>
    </br>
    預算:<%= @store.budget %> 
    </br>
    備註:<%= @store.memo %> 
    </br> 
    </div>
  </div>

  <div data-controller = "substore-content-loader"
       data-substore-content-loader-map-url      ="/stores/<%= @store.id %>/store_sub_pages/show_gmap?full_address=<%= @store.city %><%= @store.district %><%= @store.address %>"
       data-substore-content-loader-comments-url ="/stores/<%= @store.id %>/store_sub_pages/show_comments"
       data-substore-content-loader-menu-url     ="/stores/<%= @store.id %>/store_sub_pages/show_menu"
       data-substore-content-loader-album-url    ="/stores/<%= @store.id %>/store_sub_pages/show_album" >

    <footer class="card-footer">
      <a data-action="click->substore-content-loader#showComments" id="comments_trigger" class="card-footer-item">評價</a>
      <a data-action="click->substore-content-loader#showMenu" id="menu_trigger" class="card-footer-item">菜單</a>
      <a data-action="click->substore-content-loader#showAlbum" id="album_trigger" class="card-footer-item">相簿</a>
      <a data-action="click->substore-content-loader#showMap" id="gmap_trigger" class="card-footer-item">地圖</a>
    </footer>
    <div class="ribbon-bar">
    </div>

    <div id="output" class="sub_page_output">
    </div>  

  </div>

</div>

<div id="mapLat" class="is-hidden" ><%= @latitude  %></div>
<div id="mapLng" class="is-hidden" ><%= @longitude %></div>


<script>
$(function(){

  $(".sub_page_output").on("mouseover", ".image_hide", function() {    
    first_image_id  = $("#first_image_id").val();
    last_image_id   = $("#last_image_id").val();
    image_id        = $(this).attr("image_id");
    image_frame     = $(this).parent(".image_hihe_frame");
    store_id        = $("#store_id").val();
    request_url     = "/stores/"+store_id+"/store_pictures/"+image_id;
    
    if(image_id == first_image_id){
      pre_image_id  = last_image_id;
      next_image_id = $(this).parents(".column").next(".column").find(".image_hide").attr("image_id");    
    }else if(image_id == last_image_id){
      pre_image_id  = $(this).parents(".column").prev(".column").find(".image_hide").attr("image_id");
      next_image_id = first_image_id;
    }else{
      pre_image_id  = $(this).parents(".column").prev(".column").find(".image_hide").attr("image_id");
      next_image_id = $(this).parents(".column").next(".column").find(".image_hide").attr("image_id");
    }

    $("#pre_link_button").attr("pre_link_img_id", pre_image_id);
    $("#next_link_button").attr("next_link_img_id", next_image_id);
    drawFrameBorder(image_frame);

    $.ajax({
         type: "GET",
          url: request_url,
     dataType: "json",
      success: function(data){
        $("#focus_image").attr("src",data.image_url);  
      }  
    })
  });

  $(".sub_page_output").on("click", "#pre_link_button", function() {
    target_id  = $(this).attr("pre_link_img_id");
    select_str = ".image_hide[image_id='"+target_id+"']"
    $(select_str).mouseover();

  })

  $(".sub_page_output").on("click", "#next_link_button", function() {
    target_id = $(this).attr("next_link_img_id");
    select_str = ".image_hide[image_id='"+target_id+"']"
    $(select_str).mouseover();
  })


  function drawFrameBorder(image_frame) {
    $(".image_hihe_frame").attr("class", "image_hihe_frame fade_img_unchose");
    image_frame.attr("class", "image_hihe_frame frame_chose fade_img_chose");
  }

});
</script>






