<h2 class="title" >店家資料主頁-外部查詢結果</h2>

<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    地理位置：
    <li><%= link_to @store.city,     search_stores_path(geo_keyword:@store.city) %></li>
    <li><%= link_to @store.district, search_stores_path(geo_keyword:@store.district) %></li>
  </ul>
</nav>

</br>
<div class="ribbon-table-line"></div>
</br>

<div class="card">
  <div class="card-image">
      <%= image_tag("ramen_bar.png") %>  
  </div>

  <div class="ribbon-table-line"></div>  

  <div class="card-content">

    <div class="store_card_title">
    <p class="title is-4">
      <%= @store.title %>
    </p>
    </div>

    <hr>

    <div class="media">

      <figure class="image">
        <%= avatar(@store.user,size:200) %>
      </figure>

      <div class="media-content">

        <div class="content">
          <dl>
            <dt>特色:</dt>
            <dd><%= @store.feature %></dd>
          </dl>
          <dl>  
            <dt>電話:</dt>
            <dd><%= @store.tel %></dd>
          </dl>
          <dl>
            <dt>預算:</dt>
            <dd>約 NT$<%= @store.budget %></dd>
          </dl>

        </div>

        <div class="">
        <div class="star-ratings-css">
          <div class="star-ratings-css-top" style="width:<%= @store.avg_score*20.0 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
        </div>
        平均評分&nbsp;<%= format("%.2f",@store.avg_score) %>，共有<%=@store.comments_count %>則評價
        </div>

        

      </div>

      <% if  current_user.present? && current_user.id!= @store.user.id%>
        <%= link_to "發表評論",  comment_new_path( user_id:current_user.id, store_id:@store.id ), class: 'button is-warning', method: 'GET' %>         
      <% end %>  
    </div>

  </div>
  
</div>

<div class="ribbon-table-line"></div>

<div class="card">
  <header class="card-header">
  </header>

  <div data-controller = "substore-content-loader"
      data-substore-content-loader-map-url      ="/stores/<%= @store.id %>/store_sub_pages/show_gmap?full_address=<%= @store.city %><%= @store.district %><%= @store.address %>"
      data-substore-content-loader-comments-url ="/stores/<%= @store.id %>/store_sub_pages/show_comments"
      data-substore-content-loader-menu-url     ="/stores/<%= @store.id %>/store_sub_pages/show_menu"
   data-substore-content-loader-album-url       ="/stores/<%= @store.id %>/store_sub_pages/show_album" >

    <footer class="card-footer">
      <a data-action="click->substore-content-loader#showComments" id="comments_trigger" class="card-footer-item">評價</a>
      <a data-action="click->substore-content-loader#showMenu" id="menu_trigger" class="card-footer-item">菜單</a>
      <a data-action="click->substore-content-loader#showAlbum" id="album_trigger" class="card-footer-item">相簿</a>
      <a data-action="click->substore-content-loader#showMap" id="gmap_trigger" class="card-footer-item">地圖</a>
    </footer>
    <div class="ribbon-bar">
    </div>

    <div id="output" class="sub_page_output" >
    </div>  

  </div>

</div>


  <section>
      <div class="detail_info_title table-container">
        <p class="title is-4">
        詳細資料:
        </p>
      </div>

      <table class="table is-fullwidth is-bordered">
        <tbody>
          <tr>
            <th class="etail_info_title_th">
            店名:
            </th>
            <td>
            <%= @store.title %>
            </td>
          </tr>

          <tr>
            <th class="etail_info_title_th">
            特色:
            </th>
            <td>
            <%= @store.feature %>
            </td>
          </tr>

          <tr>
            <th class="etail_info_title_th">
            電話:
            </th>
            <td>
            <%= @store.tel %>
            </td>
          </tr>

          <tr>
            <th class="etail_info_title_th">
            地址:
            </th>
            <td>
            <%= @store.city %><%= @store.district %><%= @store.address %>
            </td>
          </tr>

          <tr>
            <th class="etail_info_title_th">
            營業時間:
            </th>
            <td>
            <%= @store.opening_hours %>
            </td>
          </tr>

          <tr>
            <th class="etail_info_title_th">
            公休日:
            </th>
            <td>
            <%= @store.closed_day %>
            </td>
          </tr>

          <tr>
            <th class="etail_info_title_th">
            預算:
            </th>
            <td>
            約 NT$<%= @store.budget %>
            </td>
          </tr>

          <tr>
            <th class="etail_info_title_th">
            簡介:
            </th>
            <td>
            <%= @store.promote %>
            </br>
            <%= @store.intro %>
            </td>
          </tr>
        </tbody>
      </table>
  </section>


<div id="mapLat" class="is-hidden" ><%= @latitude  %></div>
<div id="mapLng" class="is-hidden" ><%= @longitude %></div>


<script>
$(function(){

  $(".sub_page_output").on("mouseover", ".image_hide", function() {    
    first_image_id  = $("#first_image_id").val();
    last_image_id   = $("#last_image_id").val();
    image_id        = $(this).attr("image_id");
    image_frame     = $(this).parent(".image_hihe_frame");
    store_id        = $("#store_id").val();
    request_url     = "/stores/"+store_id+"/store_pictures/"+image_id;

    if(image_id == first_image_id){
      pre_image_id  = last_image_id;
      next_image_id = $(this).parents(".column").next(".column").find(".image_hide").attr("image_id");    
    }else if(image_id == last_image_id){
      pre_image_id  = $(this).parents(".column").prev(".column").find(".image_hide").attr("image_id");
      next_image_id = first_image_id;
    }else{
      pre_image_id  = $(this).parents(".column").prev(".column").find(".image_hide").attr("image_id");
      next_image_id = $(this).parents(".column").next(".column").find(".image_hide").attr("image_id");
    }

    $("#pre_link_button").attr("pre_link_img_id", pre_image_id);
    $("#next_link_button").attr("next_link_img_id", next_image_id);
    drawFrameBorder(image_frame);
  
    $.ajax({
         type: "GET",
          url: request_url,
     dataType: "json",
      success: function(data){
        $("#focus_image").attr("src",data.image_url);  
      }  
    })
  });


  $(".sub_page_output").on("click", "#pre_link_button", function() {
    target_id  = $(this).attr("pre_link_img_id");
    select_str = ".image_hide[image_id='"+target_id+"']"
    $(select_str).mouseover();

  })

  $(".sub_page_output").on("click", "#next_link_button", function() {
    target_id = $(this).attr("next_link_img_id");
    select_str = ".image_hide[image_id='"+target_id+"']"
    $(select_str).mouseover();
  })

  function drawFrameBorder(image_frame) {
    $(".image_hihe_frame").attr("class", "image_hihe_frame fade_img_unchose");
    image_frame.attr("class", "image_hihe_frame frame_chose fade_img_chose");
  }

});
</script>