<h2 class="title" >忘記密碼?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <div class="container">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "寄給我密碼重置確認信", class: "button is-warning"%>
  </div>
<% end %>

