<h2 class="title" >編輯&nbsp;<%= current_user.store.title%>&nbsp;的菜單內容</h2>

<% if @menu_status == "create" %> 
    </br>
    <span class="tag is-large is-warning">
    <h6 class="title is-6">新增菜單: 料理-價格</h6>
    </span>
    <div class="ribbon-table-line">
    </div>
    </br>  
<% elsif @menu_status == "revise" %>
    </br>
    <span class="tag is-large is-warning">
    <h6 class="title is-6">修正菜單: 料理-價格</h6>
    </span>
    <div class="ribbon-table-line">
    </div>
    </br>
<% end %>


<%= form_tag("/update_menu/#{current_user.store.id}", method: "get") do %>   
<%= text_field_tag :menu_status, @menu_status, class:"input is-hidden" %> 
    <div class="field columns is-gapless">        
        <div class="control column">
            <%= label_tag "1-料理名稱", nil, class:"label" %>
            <%= text_field_tag "dish_01", @dish_01, class: "input" %>
        </div>

        <div class="control column">
            <%= label_tag "1-價格", nil, class: "label" %>
            <%= number_field_tag "price_01", @price_01, min: 1, max: 1000, step: 1, class: "input" %>
        </div>
    </div>

    <div class="field columns is-gapless">        
        <div class="control column">
            <%= label_tag "2-料理名稱", nil, class:"label" %>
            <%= text_field_tag "dish_02", @dish_02, class: "input" %>
        </div>

        <div class="control column">
            <%= label_tag "2-價格", nil, class: "label" %>
            <%= number_field_tag "price_02", @price_02, min: 1, max: 1000, step: 1, class: "input" %>
        </div>
    </div>

    <div class="field columns is-gapless">        
        <div class="control column">
            <%= label_tag "3-料理名稱", nil, class:"label" %>
            <%= text_field_tag "dish_03", @dish_03, class: "input" %>
        </div>

        <div class="control column">
            <%= label_tag "3-價格", nil, class: "label" %>
            <%= number_field_tag "price_03", @price_03, min: 1, max: 1000, step: 1, class: "input" %>
        </div>
    </div>

    <div class="field columns is-gapless">        
        <div class="control column">
            <%= label_tag "4-料理名稱", nil, class:"label" %>
            <%= text_field_tag "dish_04", @dish_04, class: "input" %>
        </div>

        <div class="control column">
            <%= label_tag "4-價格", nil, class: "label" %>
            <%= number_field_tag "price_04", @price_04, min: 1, max: 1000, step: 1, class: "input" %>
        </div>
    </div>

    <div class="field columns is-gapless">        
        <div class="control column">
            <%= label_tag "5-料理名稱", nil, class:"label" %>
            <%= text_field_tag "dish_05", @dish_05, class: "input" %>
        </div>

        <div class="control column">
            <%= label_tag "5-價格", nil, class: "label" %>
            <%= number_field_tag "price_05", @price_05, min: 1, max: 1000, step: 1, class: "input" %>
        </div>
    </div>

    <div class="field">
        <%= submit_tag "送出資料", class:"button is-warning" %>
    </div>

    <div class="field">
    <%= link_to "取消", :back , class:"button is-light" %>
    </div>

<% end %>