<%= render 'shared/frontend/main_search_bar'%>
<%= render 'shared/frontend/message'%>

測試:
<p>1:<%= @geo_kw_temp %></p>
<p>2:<%= @feat_kw_temp %></p>
<p>3:<%= @order_kw_temp %></p>
<p>4:<%= @filter_kw_temp %></p>



</br>
<div class="ribbon-table-line"></div>
</br>

<div class="columns">
    <div class="column">
        <%= render 'shared/frontend/filter_search_options'%>
    </div>
    <div class="column is-three-quarters">
        <%= render 'shared/frontend/order_search_list'%>
    </div>
</div>
