<p>
<div class="comments_border">
    <div class="title">店家評價列表頁面</div>
    <% if @comments_exist %>
    <div class="ribbon-table-line"></div>
    <% @comments.each do |comment|%>
        <div class="card">
            <div class="card-content">
                <div class="comment-head">                
                <div class="media">
                <div class="media-left">
                    <%= avatar(comment.user, size:60)%>
                </div>
                <div class="media-content">
                    <p class="title is-4"><%=comment.user.username %>&nbsp;comment on&nbsp;<%=comment.store.title%></p>
                    <p class="subtitle">評價分數:&nbsp;<%=comment.score %>&nbsp;訪問次數:&nbsp;<%=comment.visit_count %>&nbsp;消費金額:&nbsp;<%=comment.spend %></p>
                </div>
                </div>
                </br>
                </div>

                評論內容:
                </br>
                <div class="content">
                <%=comment.content %>
                <br>
                <time><%=comment.user.updated_at%></time>
                </div>
            </div>
        </div>
        <div class="ribbon-table-line"></div>
    <% end %>
    <% else %>
        <p>目前暫無評論資料</p>
    <% end %>
</div>
</p>

